<div class="row">
  <div class="col mt-2 ">
    <div class="row">
      <div class="pull-right col-md-3 offset-md-9 mt-4 my-2">
        <button type="submit" class="btn btn-primary mt-4" (click)="onNewButtonClick()">NEW </button>
      </div>
      <div class="table-responsive">
        <table class="table " id="table">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Task</th>
              <th scope="col">Category</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todos; let i = index">
              <th scope="row" class="form-check form-group">
                <input type="checkbox" class="form-check-input ml-1" [checked]="todo.status">
              </th>
              <td>{{ todo.name }}</td>
              <td>{{ todo.category }}</td>
              <div class="row">
                <div class="column d-flex justify-content-right">
                  <button type="button" class="btn btn-primary pl-2" (click)="onEditButtonClick(i)">Edit</button>
                  <button type="button" value="Remove" class="btn btn-danger ml-2" (click)="deleteFieldValue(todo)">Delete</button>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>